<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Estudantes</title>
    <link rel="stylesheet" href="https:/maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>

<body>
    <h1 style="text-align: center;"> APP: CRUD Phyton com Flask </h1>
    <h2 style="text-align: center;">Estudantes</h2>
    <div class="container">
        <div class="col-xs-12">
            <a href="/add"> Registrar Estudante </a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>nome</th>
                            <th>idade</th>
                            <th>opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in estudantes %}
                        <tr>
                            <td> {{e.nome}} </td>
                            <td> {{e.idade}} </td>
                            <td>
                                <a href="/edit/{{e.id}}">Editar</a>
                                <a href="/delete/{{e.id}}">Excluir</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>